/** @format */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input{
    box-shadow: none !important;
    outline: none;
}

body {
    font-family: 'Baloo Tamma 2', cursive;
	background-color: #f5f5f5;
}

a {
	text-decoration: none;
    color: #bbb;
}

.sidebar{
    border-right: 2px solid #eee;
}

.follows {
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	margin: 1rem 0;
}

.preview__profile{
	border-right: 2px solid #eee;
	height: 100vh;
    display: none;
}

nav {
	display: flex;
	flex-direction: column;
}

nav > a {
	padding: 0.5rem;
	color: #aaa;
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	border-left: 4px solid transparent;
}

nav > a:hover {
	color: #000;
}

nav > a > i {
	margin: 0 2rem;
}

nav > a.active {
	color: #161616;
	font-weight: 700;
	border-left: 4px solid #ff4755;
}

nav > a.active > i {
	color: #ff4755;
}

.logo {
	font-size: 1.5rem;
	color: #161616;
	margin: 1rem 0;
	text-align: center;
	font-family: "Pacifico", cursive;
}

.logo i {
	color: #ff4755;
}

.sub__nav {
	margin-left: 5rem;
}

.album {
    display: flex;
    flex-wrap: wrap;
}

.album img {
    width: 100%;
    height: 150%;
    object-fit: cover;
}

.album>img:last-child{
    opacity: 0.5;
}

.search{
    padding: 0.5rem;
    border-bottom: 2px solid #eee;
}

.feature img{
    object-fit: cover;
}

.stories{
    display: flex;
    overflow-x: auto;
    margin: 1rem 0; 
    width: 100%;
}

.story__item{
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    flex: 0 0 auto;
}

.story__item img{
    width: 8rem;
    height: 10rem;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 0.5rem;

}

.update__status-input{
    border: none;
    outline: none;
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #6d6d6d;
    background-color: #6d6d6d21;
    border-radius: 10px;
}

.update__status-input:hover{
    background-color: #a5a5a5;
    color: #fff;
    transition: ease-in-out 0.5s;
}

.upload__files{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 0.5rem;
}

.status{
    border-left: 2px solid #eee;
    height: 100vh;
    padding: 1rem;
}

.status .ava{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.form-control{
    box-shadow: none !important;
    outline: none;
}

.form-floating textarea{
    resize: vertical;
    border: 2px solid #cacaca;
    outline: none;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    max-height: 20vh;
}

.form-floating textarea:focus{
    transition: ease-in-out 0.5s;
    height: 20vh;
}

.status a{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
}

.status a:hover{
    background-color: #eee;
    border-radius: 10px;
}

.news{
    border-bottom: 2px solid #eee;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

.list__friends{
    height: 70vh;
    overflow-y:auto;
}

.news p{
    font-size: 1rem;
    font-weight: lighter;
    margin: 0.5rem 0;
}

.posts{
    margin: 1rem 0;
}

#endShow, main{
    transition: ease-in-out 0.5s;
}

#startShow{
    transition: ease-in-out 0.5s;
}






/* Keyframe */
@keyframes showPreview{
    0%{
        opacity: 0;
        transform: translateX(-100%);
        z-index: -1;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        z-index: 1;
    }
}

@keyframes hidePreview{
    0%{
        opacity: 1;
        transform: translateX(0);
        z-index: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-100%);
        z-index: -1;
    }
}

@keyframes formMain{
    100%{
        transform: translateX(-25%);
        transition: ease-in-out 0.5s;
    }
}

@keyframes openMain{
    100%{
        transform: translateX(25%);
        transition: ease-in-out 0.5s;
    }
}


@keyframes openStatus {
    100%{
        transform: translateX(100%);
        transition: ease-in-out 0.5s;
    }
}

@keyframes closeStatus {
    100%{
        transform: translateX(-100%);
        transition: ease-in-out 0.5s;
    }
}

/* Scroll */
::-webkit-scrollbar {
    width: 0.1px;
    height: 0.3rem;
}

::-webkit-scrollbar-track {
    background: #eee;
    width: 0.1px;
}

